Suppose we have a dataframe and it contains the following columns in the list format.   

Note: suppose the column names are obtained by `df.columns.to_list()`

In [5]:
# testing a second set of changes to this 9/29

columns = ['FIPS', 'County', 'State', 'Insurance Coverage', 'Medicaid Enrollment', 'Gini Coefficient', 
           'Household Income', 'Annual Labor Force Participation Rate (2015-2019)',
           'Annual Unemployment Rate (2015-2019)', 'Below Poverty', 'Uninsured',
           'Monthly Unemployment Rate (Jun-22)', 'geometry']

In [7]:
import pandas as pd

df = pd.DataFrame(zip(columns, columns), columns = ['c1','c2'])

In [10]:
df

,c1,c2
0,FIPS,FIPS
1,County,County
2,State,State
3,Insurance Coverage,Insurance Coverage
4,Medicaid Enrollment,Medicaid Enrollment
5,Gini Coefficient,Gini Coefficient
6,Household Income,Household Income
7,Annual Labor Force Participation Rate (2015-2019),Annual Labor Force Participation Rate (2015-2019)
8,Annual Unemployment Rate (2015-2019),Annual Unemployment Rate (2015-2019)
9,Below Poverty,Below Poverty
10,Uninsured,Uninsured
11,Monthly Unemployment Rate (Jun-22),Monthly Unemployment Rate (Jun-22)
12,geometry,geometry

In [12]:
df.c1

0                                                  FIPS
1                                                County
2                                                 State
3                                    Insurance Coverage
4                                   Medicaid Enrollment
5                                      Gini Coefficient
6                                      Household Income
7     Annual Labor Force Participation Rate (2015-2019)
8                  Annual Unemployment Rate (2015-2019)
9                                         Below Poverty
10                                            Uninsured
11                   Monthly Unemployment Rate (Jun-22)
12                                             geometry
Name: c1, dtype: object

The goal here is to visulaize the quantitative variables (Insurance Coverage to Monthly Unemployment Rate (Jun-22)). Therefore, we need to have another list that only includes such lists. Using the `columns_to_remove` and regex, define `variables_to_visualize`, a list that contains all the other variables.

In [3]:
import re

columns_to_remove = ['fips','county','state','geometry']

pat = re.compile(r'fips|county|state|geometry', flags=re.IGNORECASE)

variables_to_visualize = [i for i in columns if not bool(re.match(pat, i))]

**ArcGIS Online**(AGOL) is not happy with the naming convension we originially have. When we upload the table to AGOL, it automatically converts the column names to all lower case, replace a empty space with a underscore and then select the first 10 characters if the length exceeds 10. For example, `Insurance Coverage` and `Medicaid Enrollment` will be converted into `insurance_` and `medicaid_e` respectively. Therefore, we need a dictionary that tracks how each column name in `variables_to_visualize` is converted by AGOL.

First, let's define a function that convert a given column name into AGOL column name

In [4]:
def get_AGOL_name(colname):
    agol_name = colname.replace(' ', '_').lower()
    return agol_name[0:10]

Then using the function, let's create a dictionary with AGOL names as keys and original names as values

In [5]:
colname_maps = {i: get_AGOL_name(i) for i in variables_to_visualize}
colname_maps

{'Insurance Coverage': 'insurance_',
 'Medicaid Enrollment': 'medicaid_e',
 'Gini Coefficient': 'gini_coeff',
 'Household Income': 'household_',
 'Annual Labor Force Participation Rate (2015-2019)': 'annual_lab',
 'Annual Unemployment Rate (2015-2019)': 'annual_une',
 'Below Poverty': 'below_pove',
 'Uninsured': 'uninsured',
 'Monthly Unemployment Rate (Jun-22)': 'monthly_un'}